@use './colors' as *;
@use './fonts' as *;
@use './variables' as *;

@mixin tablet {
  @media (min-width:$tablet-min-width) and (max-width:$tablet-max-width) {
      @content;
  }
}

@mixin desktop {
  @media (min-width:$desktop-min-width) {
      @content;
  }
}

@mixin header-links {
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
}