@use './colors' as *;
@use './fonts' as *;
@use './variables' as *;

@mixin tablet {
  @media (min-width:$tablet-min-width) and (max-width:$tablet-max-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:$desktop-min-width) {
    @content;
  }
}

@mixin header-links {
  width: 50%;
  text-align: center;
  padding-bottom: 0.5rem;
}

// avatars
@mixin desktop_tablet_avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

@mixin mobile_avatar {
  border-radius: 50%;
  width: 36px;
  height: 36px;
} 