@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.footer {
  background-color: $Light-Black;
  color: $White;

  padding: 1rem;

  &__header {
    &__title {
      margin: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    &__icons {
      width: 30vw;
      display: flex;
      justify-content: space-between;
    }
  }

  &__info {
    &__sub {
      padding-top: 1.5rem;
      display: flex;
      flex-direction: column;
      
      &__head {
        margin: 0;
        @include mobile-subheader-font;
      }
      
      &__desc {
        margin: 0;
        padding: 1rem 0;
        padding-bottom: 0;

        &--bottom {
          @extend .footer__info__sub__desc;
          padding: 0;
        }
      }

      &__link {
        padding-top: 1.5rem;
        padding-bottom: 0;
      }
    }
  }

  &__watermark {
    width: 120px;
    height: 20px;
    margin-top: 48px;
  }

  &__copyright {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    @include mobile-body-font;
    font-size: 11px;
  }

  @include tablet {
    padding: 2.25rem;
    padding-top: 0;

    &__header {
      display: flex;
      flex-direction: row;

      &__title {
        @include section-header-font;
        padding-top: 3rem;
        padding-bottom: 0;
      }

      &__icons {
        align-self: center;
        justify-content: space-evenly;
        height: 25px;
        padding-top: 3rem;
      }
    }

    &__info {
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__sub {
        padding-top: 2.25rem;

        &__desc {
          padding: 1.5rem 0;
          padding-bottom: 0;
        
          &--bottom {
            padding-top: 0;
          }
        }
      }
    }

    &__watermark {
      width: 120px;
      height: 20px;
      padding: 0;
      padding-top: 3.25rem;
      margin: 0;
      margin-left: -4rem;
    }
  }

  @include desktop {
    padding: 2.25rem;
    padding-top: 0;

    &__header {
      width: 100vw;
      display: flex;
      flex-direction: row;

      &__title {
        @include section-header-font;
        padding-top: 3rem;
        padding-bottom: 0;
        padding-left: 100px;
        padding-right: 32px;
      }

      &__icons {
        width: 16vw;
        align-self: center;
        justify-content: space-evenly;
        height: 25px;
        padding-top: 3rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: row;
      justify-content: left;
      padding-left: 100px;

      &__sub {
        padding-top: 2.25rem;
        padding-right: 100px;

        &__desc {
          padding: 1.5rem 0;
          padding-bottom: 0;
        
          &--bottom {
            padding-top: 0;
          }
        }
      }
    }

    &__watermark {
      width: 120px;
      height: 20px;
      padding: 0;
      padding-top: 3.25rem;
      margin: 0;
      margin-left: -15rem;
    }

    &__copyright {
      padding-left: 100px;
    }
  }
}

.footer-tablet-desktop {
  @include tablet {
    display: flex;
    flex-direction: row;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
  }
}