@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

table {
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

tr {
  @include tablet {
    display: flex;
    flex-direction: row;
    padding-top: 2.25rem; 
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    padding-top: 2.25rem; 
  }

}

#header1, #header2, #header3 {
  visibility: hidden;

  @include tablet {
    visibility: visible;
    padding-left: 2.25rem;
    width: 15vw;
    border: none;
  }

  @include desktop {
    visibility: visible;
    padding-left: 2.25rem;
    width: 10.5vw;
    border: none;
  }

}

#header1 {
  padding-left: 1.25rem;
  text-align: left;
  font-family: Avenir-Next-Demi;
  color: $Silver;
}

#header2 {
  padding-left: 1.25rem;
  font-family: Avenir-Next-Demi;
  color: $Silver;
}

#header3 {
  padding-left: 4rem;
  font-family: Avenir-Next-Demi;
  color: $Silver;
}

.shows-hero {
  width:auto;
  height: auto;

  background-image: url('../../assets/Images/hero-shows.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    background-color: $Opaque-Black;
    height: fill;
    width: fill;

    margin: 0;
    padding: 1rem;
    align-content: center;
    
    &__title{
      @include mobile-header-font;
      color: $White;
      width: 15rem;
    }

    &__desc {
      @include subheader-font;
      color: $White;
    }

    &__music {
      width: 90vw;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  @include tablet {
    background-position: bottom;
    width: auto;
    height: auto;

    &__content {
      padding: 2.25rem;
      height: fill;

      &__desc {
        @include subheader-font;
      }

      &__title {
        @include page-header-font;
        margin-top: 0;
        width: 40rem;
      }
      
      &__music {
        width: 60%;
        padding-bottom: 2.25rem;
      }
    }
  }

  @include desktop {
    background-size: cover;
    background-position: center;
    width: 100%;

    &__content {
      padding: 2.25rem 6.25rem;
      height: 30rem;
      width: fill;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &__desc {
        @include subheader-font;
      }

      &__title {
        @include page-header-font;
        margin-top: 0;
        width: 40rem;
      }
      
      &__music {
        width: 40%;
        padding-bottom: 2.25rem;
      }
    }
  }
}

.music-player {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  
  &__link-one {
    color: #cccccc;
    text-decoration: none;
  }

  &__link-two {
    color: #cccccc;
    text-decoration: none;
  }
}

.shows {
  width: 100vw;
  overflow-x: hidden;

  &__title {
    @include mobile-header-font;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  &__table {
    padding-bottom: 1rem;
    
    &__header {
      width: 50vw;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-left: 1rem;

      &--first {
        @extend .shows__table__header;
        padding-top: 1rem;
      }
    }

    &__data {
      width: 50vw;;
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;

      &__button {
        @extend .shows__table__data;
        @include mobile-labels-buttons-font;
        height: 40px;
        width: 90vw;
        border-radius: 4px;
        background-color: $Light-Black;
        color: $White;

        padding: 0;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      &--first {
        @extend .shows__table__data;
        font-family: Avenir-Next-Bold;
      }

      &--last {
        @extend .shows__table__data;
        border-bottom: 1px solid $Mercury;
        width: 100vw;
      }
    }
  }

  @include tablet {
    &__title {
        @include section-header-font;
        padding: 2.25rem;
        margin-bottom: 0;
    }

    &__table {
      padding-bottom: 2.25rem;
      padding-right: 2.25rem;
      padding-left: 2.25rem;


      &__header {
        visibility: hidden;
        width: 0;
      }
      
      &__data {
        width: 20vw;
        padding-left: 0;
        padding-right: 0;

        &--last {
          border: none;
        }
      }
    }
  }
  
  @include desktop {
    display: flex;
    flex-direction: row;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;

    &__title {
      @include section-header-font;
      padding: 6.25rem;
      padding-top: 0;
      padding-right: 0;
      margin: 0;
      margin-top: 1rem;
    }

    &__table {
      padding-bottom: 2.25rem;
      padding-right: 2.25rem;
      padding-left: 3rem;


      &__header {
        visibility: hidden;
        width: 0;
      }
      
      &__data {
        width: 14vw;
        padding-left: 0;
        padding-right: 0;
       
        &--last {
          border: none;
        }
      }
    }
  }
}

.table-block {
  cursor: pointer;
  width: 90vw;

  &:hover {
    background-color: $Alabaster;
  }

  @include tablet {
    border-bottom: 1px solid $Mercury;
  }

  @include desktop {
    width: 60vw;
    border-bottom: 1px solid $Mercury;
  }
}


.active-state {
  background-color: $Mercury;
}